doctype html
html
  head
    title SECC-PHP MVC
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale=1)
    link(rel="stylesheet", href="{{ app::asset('public/dist/css/main.css') }}")
    
  body Hi
  
  script(type='text/javascript', src='{{ app::asset('public/dist/js/bundle.js') }}")